@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/SF-Pro-Text-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/SF-Pro-Text-Light.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/SF-Pro-Text-Medium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/SF-Pro-Text-Semibold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/SF-Pro-Text-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/SF-Pro-Text-ExtraBold.otf") format("opentype");
  font-weight: 800;
}

body,
html {
  overflow-x: clip;
}

.quicksand-font {
  font-family: "Quicksand", sans-serif;
}

.diffuser {
  font-weight: 900;
}

dt {
  color: #5fd788;
  padding-bottom: 3px;
  font-weight: 500;
}

dd {
  color: #9ca3af;
}
